<!-- [ Header ] start -->
<header class="navbar navbar-expand-lg navbar-light justify-content-between">
    <div class="m-header">
        <a href="/" class="b-brand">
            <div class="b-bg">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 792 612"
                    style="enable-background:new 0 0 792 612;" xml:space="preserve">
                    <g>
                        <polygon points="379.4,480.31 11.15,480.31 34.09,425.91 79.73,317.69 148.88,346.85 124.25,405.26 304.35,405.26 304.35,206.13 
		183.32,206.13 214.33,131.08 379.4,131.08 	" />
                    </g>
                    <g>
                        <path d="M757.45,425.91l-32.6-77.32h0.35l-32.92-78.2h-205.1v-64.27h121.05l-31.02-75.05H412.13V480.3h368.26L757.45,425.91z
		 M487.18,405.25v-56.66H643.4l23.89,56.66H487.18z" />
                    </g>
                </svg>
            </div>
            <span class="b-title">Keyword search</span>
        </a>
    </div>
    <div class="p-1">
        <a href="javascript:" class="full-screen mx-2" onclick="javascript:toggleFullScreen()"><i
                class="feather icon-maximize"></i></a>
        <span class="mx-2">
            <label>
                <i class="icon feather icon-sun" id="theme-indicator"></i>
                <input type="checkbox" id="theme-switch" class="d-none">
            </label>
        </span>
        <script>

        </script>

    </div>
</header>
<!-- [ Header ] end -->